:root {
    --bg: #151515;
    --brighter-bg: #181818;
    --evenbrighter-bg: #202020;

    --borders: #252525;
  
    --fg-normal: #dfdfdf;
    --fg-darker: #cfcfcf;
}

body {
    background-color: var(--bg);
    color: var(--fg-normal);
    font-family: Arial;
}

/* make scrollbar go poof (chromium only) */
::-webkit-scrollbar {
  width: 0px;
}

.content {
    background-color: var(--brighter-bg);
    margin: auto;
    margin-top: 50px;
    padding: 35px 0;
    width: 420px;
    border: solid var(--borders);
    border-width: 2px;
    display: grid;
    place-items: center;
    text-align: left;
}

.header {
    background-color: var(--evenbrighter-bg); 
    border: solid var(--borders);
    border-width: 2px;
    width: 320px;
    padding: 10px;
    display: inline-block;
    /* text-align: center; */
}

.header h2 {
    margin-top: 20px; 
}

.content img {
    float: left;
    width: 75px;
    height: 80px;
    margin: 10px;
}

.content p {
    display: block;
    line-height: 30px;
    color: var(--fg-darker);
}

.content a {
    text-decoration: none;
    font-weight: bold;
    color: #94f7c5;
    line-height: 35px;
}

.content a:hover {
    text-decoration: underline;
    font-weight: heavy;
}

.separator {
    height: 1px;
    width: 220px;
    margin: 0px auto;
    background-color: var(--fg-darker);
}
